.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  width: max-content;
  height: max-content;
}

.card {
  width: 100%;
  max-width: 400px;
}

.card-header {
  background-color: #fff;
  border-bottom: none;
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
    color: white;
}

button[disabled] {
  background: #ccc;
  cursor: not-allowed;
}

.error-message {
  margin-top: 10px;
  color: red;
}
