<div
  class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns bg-light-subtle"
>
  <div class="sticky-top">
    <app-header></app-header>
  </div>

  <!-- BEGIN: Content-->
  <div class="app-content container center-layout mt-2">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-4">
          <h1 style="color: #000723" class="content-header-title mb-0">
            Raise a problem
          </h1>
        </div>
        <div class="content-header-right col-md-6 col-12">
          <div
            class="btn-group float-md-right"
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="card-bootstrap.html">Cards</a
              ><a class="dropdown-item" href="component-buttons-extended.html"
                >Buttons</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic form layout section start -->
        <section id="basic-form-layouts">
          <div class="match-height">
            <form [formGroup]="formulaire" (ngSubmit)="save()" class="form">
              <div class="card">
                <div class="card-content collapse show">
                  <div class="card-body">
                    <div class="form-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="problemTitle">Problem title</label>
                            <input
                              type="text"
                              id="problemTitle"
                              class="form-control"
                              placeholder="Problem title"
                              formControlName="problemTitle"
                              [ngClass]="{
                                'is-invalid':
                                  errorAdd &&
                                  formulaire.controls['problemTitle'].invalid
                              }"
                            />
                            <div
                              *ngIf="
                                formulaire.controls['problemTitle'].invalid &&
                                formulaire.controls['problemTitle'].touched
                              "
                              class="text-danger"
                            >
                              Problem title is required
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group mb-2">
                        <label for="aboutProblem">About Problem</label>
                        <p-editor
                          formControlName="aboutProblem"
                          [ngClass]="{
                            'is-invalid':
                              errorAdd &&
                              formulaire.controls['aboutProblem'].invalid
                          }"
                          [style]="{ height: '320px' }"
                        ></p-editor>
                        <div
                          *ngIf="
                            formulaire.controls['aboutProblem'].invalid &&
                            formulaire.controls['aboutProblem'].touched
                          "
                          class="text-danger"
                        >
                          About Problem is required
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="category">Category</label>
                          <select
                            class="form-control"
                            id="category"
                            formControlName="category"
                            [ngClass]="{
                              'is-invalid':
                                errorAdd &&
                                formulaire.controls['category'].invalid
                            }"
                          >
                            <option value="" disabled selected>
                              Select a category
                            </option>
                            <option
                              *ngFor="let category of categories"
                              [value]="category"
                            >
                              {{ category }}
                            </option>
                          </select>
                          <div
                            *ngIf="
                              formulaire.controls['category'].invalid &&
                              formulaire.controls['category'].touched
                            "
                            class="text-danger"
                          >
                            Please select a category.
                          </div>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="population_volume"
                            >Population volume</label
                          >
                          <input
                            type="number"
                            id="population_volume"
                            class="form-control"
                            formControlName="population_volume"
                            [ngClass]="{
                              'is-invalid':
                                errorAdd &&
                                formulaire.controls['population_volume'].invalid
                            }"
                          />
                          <div
                            *ngIf="
                              formulaire.controls['population_volume']
                                .invalid &&
                              formulaire.controls['population_volume'].touched
                            "
                            class="text-danger"
                          >
                            Population volume is required
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-4">
                          <label for="countrySelect">Country</label>
                          <select
                            class="form-control"
                            id="countrySelect"
                            formControlName="country"
                            [ngClass]="{
                              'is-invalid':
                                errorAdd &&
                                formulaire.controls['country'].invalid
                            }"
                          >
                            <option value="" disabled selected>
                              Select a Country
                            </option>
                            <option
                              *ngFor="let country of countries"
                              [value]="country.name"
                            >
                              {{ country.name }}
                            </option>
                          </select>
                          <div
                            *ngIf="
                              formulaire.controls['country'].invalid &&
                              formulaire.controls['country'].touched
                            "
                            class="text-danger"
                          >
                            Please select a country.
                          </div>
                        </div>

                        <div class="form-group col-md-4">
                          <label for="City">City</label>
                          <input
                            type="text"
                            id="City"
                            class="form-control"
                            formControlName="city"
                            [ngClass]="{
                              'is-invalid':
                                errorAdd && formulaire.controls['city'].invalid
                            }"
                          />
                          <div
                            *ngIf="
                              formulaire.controls['city'].invalid &&
                              formulaire.controls['city'].touched
                            "
                            class="text-danger"
                          >
                            City is required
                          </div>
                        </div>

                        <div class="form-group col-md-4">
                          <label for="City">Deadline</label>
                          <input
                            type="date"
                            id="City"
                            class="form-control"
                            formControlName="deadline"
                            [ngClass]="{
                              'is-invalid':
                                errorAdd &&
                                formulaire.controls['deadline'].invalid
                            }"
                          />
                          <div
                            *ngIf="
                              formulaire.controls['deadline'].invalid &&
                              formulaire.controls['deadline'].touched
                            "
                            class="text-danger"
                          >
                            Deadline is required
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="business_needs_improvement">
                          Business needs improvement
                        </label>
                        <textarea
                          id="business_needs_improvement"
                          rows="3"
                          formControlName="business_needs_improvement"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              errorAdd &&
                              formulaire.controls['business_needs_improvement']
                                .invalid
                          }"
                        ></textarea>
                        <div
                          *ngIf="
                            formulaire.controls['business_needs_improvement']
                              .invalid &&
                            formulaire.controls['business_needs_improvement']
                              .touched
                          "
                          class="text-danger"
                        >
                          Business needs improvement is required
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="population_affected"
                          >Population affected (Quality)</label
                        >
                        <textarea
                          id="population_affected"
                          rows="3"
                          formControlName="population_affected"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              errorAdd &&
                              formulaire.controls['population_affected'].invalid
                          }"
                        ></textarea>
                        <div
                          *ngIf="
                            formulaire.controls['population_affected']
                              .invalid &&
                            formulaire.controls['population_affected'].touched
                          "
                          class="text-danger"
                        >
                          Population affected is required
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="concern_population_affected"
                          >Concerns Population affected</label
                        >
                        <textarea
                          id="concern_population_affected"
                          rows="5"
                          formControlName="concern_population_affected"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              errorAdd &&
                              formulaire.controls['concern_population_affected']
                                .invalid
                          }"
                        ></textarea>
                        <div
                          *ngIf="
                            formulaire.controls['concern_population_affected']
                              .invalid &&
                            formulaire.controls['concern_population_affected']
                              .touched
                          "
                          class="text-danger"
                        >
                          Concerns Population affected is required
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="impacts_on_these_populations"
                          >Impacts on these populations</label
                        >
                        <textarea
                          id="impacts_on_these_populations"
                          rows="3"
                          formControlName="impacts_on_these_populations"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              errorAdd &&
                              formulaire.controls[
                                'impacts_on_these_populations'
                              ].invalid
                          }"
                        ></textarea>
                        <div
                          *ngIf="
                            formulaire.controls['impacts_on_these_populations']
                              .invalid &&
                            formulaire.controls['impacts_on_these_populations']
                              .touched
                          "
                          class="text-danger"
                        >
                          Impacts on these populations is required
                        </div>
                      </div>

                      <div
                        class="form-actions d-flex"
                        style="align-items: center"
                      >
                        <button
                          type="button"
                          (click)="resetForm()"
                          class="btn btn-outline-warning mr-1"
                        >
                          <i class="fa-solid fa-xmark"></i> Cancel
                        </button>
                        <button
                          type="submit"
                          class="btn"
                          [disabled]="bigginLoad"
                          style="
                            background-color: #000723;
                            color: white;
                            margin-left: 0.5em;
                          "
                        >
                          <i class="fa-solid fa-check"></i>&nbsp;
                          <span *ngIf="!bigginLoad">Save</span>
                          <div
                            *ngIf="bigginLoad"
                            class="spinner-border text-light"
                            role="status"
                          >
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </button>
                        <div
                          *ngIf="show && success"
                          style="
                            border-radius: 5px;
                            background-color: rgba(174, 242, 174, 0.637);
                            width: 50em;
                            border: 0.1em solid olivedrab;
                            height: max-content;
                            padding: 0.4em;
                            margin-left: 1em;
                          "
                        >
                          <span
                            ><i
                              class="fa-solid fa-circle-check pr-2"
                              style="color: rgb(5, 168, 29); padding-right: 1em"
                            ></i
                            >{{ message }}</span
                          >
                        </div>
                        <div
                          *ngIf="show && !success"
                          style="
                            border-radius: 5px;
                            background-color: rgba(242, 174, 174, 0.637);
                            width: 50em;
                            border: 0.1em solid olivedrab;
                            height: max-content;
                            padding: 0.4em;
                            margin-left: 1em;
                          "
                        >
                          <span
                            ><i
                              class="fa-solid fa-xmark pr-2"
                              style="color: rgb(168, 5, 5)"
                            ></i
                            >{{ message }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        <!-- // Basic form layout section end -->
      </div>
    </div>
  </div>
  <!-- END: Content-->

  <p-sidebar [(visible)]="recommandation" [fullScreen]="true" position="right">
    <div class="container">
      <h1 class="text-center mb-3">Possible solutions</h1>
      <!-- <div class="text-center">
        <img
          style="width: 33em"
          src="assets/images/illustrations/No data-rafiki.png"
          alt=""
        />
      </div> -->
      <div class="table-responsive">
        <p-table [tableStyle]="{ 'min-width': '30rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Solutions titles</th>
              <th>Authors</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-d>
            <tr>
              <td class="text-left">
                <a class="d-inline-block text-truncate" style="max-width: 25em">
                  hi
                </a>
              </td>
              <td>
                <span>pie</span>
              </td>

              <td class="d-flex">
                <a class="btn btn-danger delete mr-1">
                  <i></i>
                </a>
                <button class="btn" type="button">
                  <i class="fa-solid fa-eye-slash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-sidebar>

  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>
</div>

<div
  style="
    display: flex;
    justify-content: flex-start;
    margin-left: 5.6em !important;
    margin-bottom: 1em;
  "
></div>

<div class="p-3">
  <app-footer></app-footer>
</div>
